body{
    background-color:grey;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app{
    width: 500px;
    background-color: white;
    margin:auto;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 12.5px;
    padding-right: 12.5px;
    border-radius: 12.5px;
}

.app h5, .app p, .app h3{
    text-align: start;
    
}

.accordion--header{
    display: flex;
    flex-direction: row;
}